<div layout="row" flex class="desktop">
  <div layout="column">
    <span (click)="openWindow('profile', 'main')">
      <md-icon>face</md-icon>
      <div>Profile</div>
    </span>
    <span (click)="openWindow('youtube', 'list')">
      <md-icon>video_library</md-icon>
      <div>Video</div>
    </span>
  </div>
</div>

<router-outlet></router-outlet>

<router-outlet #youtube name="youtube" application="youtube"></router-outlet>
<router-outlet #profile name="profile" application="profile"></router-outlet>

<div class="control-panel">
  <ch-control-panel></ch-control-panel>
</div>
