:host {
  display: block;
  width: 100%;
  height: 100%;
  .window-content {
    height: auto;
    .navigation-panel {
      background: #6ba8e5;
      md-list {
        md-list-item {
          cursor: pointer;
          &.active {
            -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
            box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
          }
        }
      }
    }
    .content {
      padding: 10px;
    }
  }
}
