<div class="window-content" layout="row" flex layout-fill>
  <div class="navigation-panel" flex-gt-sm="20">
    <button md-button (click)="getVideo('prev')" >PREV</button>
    <button md-button (click)="getVideo('next')" >NEXT</button>
    <md-list>
      <md-list-item *ngFor="let video of videos" [routerLink]="['.', video.id.videoId]" routerLinkActive="active">
        <img md-list-avatar [src]="video.snippet.thumbnails.default.url">
        <h4 md-line>{{video.snippet.title}}</h4>
        <p md-line>{{video.snippet.publishedAt | date : "dd.MM.yyyy"}}</p>
      </md-list-item>
    </md-list>
  </div>

  <div class="content" flex-gt-sm="80">
    <router-outlet></router-outlet>
  </div>
</div>

